.card{
    background-color: #282828;
    color: white;
}
.btn{
    background-color: #5D3C64;
    border: none;
    transition: all 0.5s ease;
    color: white;
}
.btn:hover{
    background-color: #7B466A;
}

@media only screen and (max-width: 1300px) {
    #topicContainer {
        display: none;
    }
}